@*@model EIP_System.Models.tProjectDetail*@
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="x_panel">
            <div class="x_title">
                <h2> 工作項目 </h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <button class="btn btn-default" style="margin-bottom:10px" onclick="showModal()">Add New</button>
                <table class="table table-bordered" id="TaskList">
                    <thead class="bg-primary">
                        <tr>
                            <th>階段</th>
                            <th>任務</th>
                            <th>負責人</th>
                            <th>狀態</th>
                            <th>起始日</th>
                            <th>截止日</th>
                            <th>備註</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog" role="document">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">新增工時紀錄</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Postdata", "Home", FormMethod.Post, new { @id = "formsumit" }))
                {

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        @*使用Html.HiddenFor 隱藏ID用於修改相關*@
                        @Html.HiddenFor(model => model.fProjectDetailId)
                    </div>


                    <div class="form-group">
                        @*使用Html.HiddenFor 隱藏ID用於修改相關*@
                        @Html.HiddenFor(model => model.fProjectId)
                    </div>

                    @*從tlevel產生下拉式選單*@
                    <div class="form-group">
                        <label class="control-label col-md-2">階段</label>
                        <div class="col-md-10">
                            <select id="fStage" name="fStage" class="form-control"></select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">任務</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.fTaskName, new { htmlAttributes = new { @class = "form-control", onchange = "getLevel(this.value)" } })
                            @Html.ValidationMessageFor(model => model.fTaskName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    @*從tMember產生下拉式選單*@
                    @*<div class="form-group">
                            <label class="control-label col-md-2">負責人</label>
                            <div class="col-md-10">
                                <input id="fEmployeeId" class="form-control" readonly="readonly">
                            </div>
                        </div>*@


                    <div class="form-group">
                        <label class="control-label col-md-2">狀態</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.fStatus, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.fStatus, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">起始日</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.fStartTime, new { htmlAttributes = new { @class = "form-control", type = "date", required = "required" } })
                            @Html.ValidationMessageFor(model => model.fStartTime, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">截止日</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.fDeadline, new { htmlAttributes = new { @class = "form-control", type = "date", required = "required" } })
                            @Html.ValidationMessageFor(model => model.fDeadline, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">備註</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.fRemarks, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.fRemarks, "", new { @class = "text-danger" })
                        </div>
                    </div>

                }
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="showAdd" onclick="submit()">新增</button>
            </div>
        </div>
    </div>
</div>


@section scripts{

    <script>

        //取得工作項目
        var taskTable;
        $(document).ready(function () {
            taskTable =
               $("#TaskList").DataTable({
                "ajax": {
                    "type": "GET",
                    "url":"@Url.Action("GetaData", "ProjectDetail")",
                    "datatype": "JSON"
                },
                   "columns": [
                        { "data": "levelName" },
                        { "data": "taskName" },
                        { "data": "empName" },
                        { "data": "status" },
                        { "data": "startTime" },
                        { "data": "deadline" },
                       { "data": "remark" },
                       {
                           "data": "prjDetailId", "render": function (prjDetailId) {
                               return `<a class='btn btn-success' onclick='Edit(${prjDetailId}); showModal();' style='margin-right:10px'>編輯</a>`
                               +`<a class='btn btn-primary' onclick='Delete(${prjDetailId})'>刪除</a>`
                           }
                       }
                ],
                "language": {
                    "processing": "<p>載入中</p>",
                    "emptyTable": "沒有任何資料，請按[新增]按鈕來新增資料"
                }
            });
        });

        //顯示新增,修改視窗
        function showModal() {
            $("#myModal").modal("show");
            getLevel();
            //新增
            $("#showAdd").show();
            $("#showUpdate").hide();
        }

        //新增資料
        function submit () {
            var data = $("formsumit").serialize();
            $.ajax({
                type: "POST",
                url: "@Url.Action("Create", "ProjectDetail")",
                data: data,
                success: function (response) {
                    if (response == "success") {
                        alert("資料儲存成功");
                        taskTable.ajax.reload();
                        $("#myModal").modal('hide');
                    }
                },
                error: function (msg) {
                    alert(msg.responseText);
                }

            })
        }


        //自動取得階段
        var jsonLevel;
        function getLevel(str) {
            $("#fStage").empty();
            $.ajax({
                url: "/TimeRecord/GetLevels?prjId=" + str,
                type: "Get",
                success: function (data) {
                    jsonLevel = JSON.parse(data);
                    $.each(jsonLevel, function (i, value) {

                        //輸入案名後從tlevel產生下拉式選單
                        $("#fStage").append("<option class='selector1' value=" + value.fLevelId + ">" + value.fLevelName + "</option>");
                    })
                }
            });
        };


    </script>
}