@model EIP_System.Models.tProject

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>tProject</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <label class="control-label col-md-2">案號</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.fProjectId, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.fProjectId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">案名</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.fProjectName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.fProjectName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">業主</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.fClient, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.fClient, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">費用</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.fPrice, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.fPrice, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">預計開始日期</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.fCreatdDate, new { htmlAttributes = new { @class = "form-control", type = "date", required = "required" } })
            @Html.ValidationMessageFor(model => model.fCreatdDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">預計結束日期</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.fDateline, new { htmlAttributes = new { @class = "form-control", type = "date", required = "required" } })
            @Html.ValidationMessageFor(model => model.fDateline, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">專案負責人</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.fEmployeeId, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.fEmployeeId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@*<script src="~/Scripts/jquery-3.4.1.min.js"></script>*@
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
