@model EIP_System.ViewModel.CVM_BudgetLevel

@{
    ViewBag.Title = "EditBudget";
    int levelNumber = Model.levels.Count();
    int count = 0;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="">
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 ">
                    <div class="x_panel">
                        <div class="x_title">

                            <h2>@Model.budget.tProject.fProjectName @Model.budget.tProject.fProjectId </h2>

                            <div class="clearfix"></div>
                        </div>

                        <div class="container">
                            <ul class="nav nav-tabs bar_tabs" id="myTab" role="tablist">

                                <li class="nav-item">
                                    <a class="nav-link active" id="ProjectInfo" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true" onclick="movetoProjectInfo()">基本資料</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="ProjectBudget" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">預算書</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="ProjectDetail" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">工作項目</a>
                                </li>
                            </ul>

                            <div class="container description">
                                <div class="row invoice-info">
                                    <div class="col-sm-4 invoice-col col-md-offset-2">
                                        <h2>@Model.budget.tProject.fProjectName 預算書</h2>
                                        <b>審核狀態:</b> 未申請<br>
                                        <b>填表人:</b> 林小佳<br>
                                        <b>填表日:</b> 2020/09/27<br>

                                    </div>
                                </div>
                            </div>

                                

                                <div class="row justify-content-center">
                                    <!-- 人力成本 -->
                                    <div class="col-12 col-sm-6 col-md-8 col-md-offset-2">
                                        <div class="x_title bg-primary">

                                            <h2>人力成本</h2>
                                            <btn class="btn btn-info" id="addLevel" onclick="showModal('add')">新增</btn>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="x_content">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>階段</th>
                                                        <th>預估時數</th>
                                                        <th>平均時薪</th>
                                                        <th>費用</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @for (int i = 0; i < Model.levels.Count(); i++)
                                                    {
                                                        count++;
                                                        <tr>
                                                            <td>
                                                                @count
                                                            </td>
                                                            <td>
                                                                @Model.levels[i].fLevelName 階段
                                                            </td>
                                                            <td>
                                                                @Html.EditorFor(model => model.levels[i].fEstimateTime, new { htmlAttributes = new { @class = "form-control", style = "border:none"} })
                                                                @Html.ValidationMessageFor(model => model.levels[i], "", new { @class = "text-danger" })
                                                            </td>
                                                            <td>
                                                                @Html.EditorFor(model => model.budget.fSalaryHour, new { htmlAttributes = new { @class = "form-control", style = "border:none" } })
                                                                @Html.ValidationMessageFor(model => model.budget.fSalaryHour, "", new { @class = "text-danger" })
                                                            </td>
                                                            <td>
                                                                $
                                                                <span id="levelBudget_@i"></span>
                                                            </td>

                                                            <td>
                                                                <btn class="btn btn-info" onclick="showModal()">編輯</btn>
                                                                @Html.ActionLink("刪除", "DeleteLevel", "Project", new { fId = @Model.levels[i].fLevelId, prjId = @Model.levels[i].fProjectId }, new { Class = "btn btn-info" })
                                                                @*@Html.ActionLink("編輯", "EditLevel", new { fId = @Model.levels[i].fLevelId, prjId = @Model.levels[i].fProjectId })*@
                                                            </td>
                                                        </tr>
                                                    }

                                                    <tr class="bg-info">
                                                        <td></td>
                                                        <td>Total</td>
                                                        <td>
                                                            <span id="allTime"></span>
                                                        </td>
                                                        <td></td>
                                                        <td>
                                                            <!--人事費-->
                                                            $
                                                            <b class="PersonnelCost"></b>
                                                        </td>
                                                        <td></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                <!-- 管銷成本 -->
                                <div class="col-12 col-sm-6 col-md-8 col-md-offset-2">
                                    <div class="x_title bg-primary">
                                        <h2>管銷成本</h2>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th style="width:30%">合約費用</th>
                                                    <th style="width:30%">管銷比例</th>
                                                    <th style="width:30%">管銷費用</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>@Model.budget.tProject.fPrice</td>
                                                    <td>
                                                        @Html.EditorFor(model => model.budget.fManagementFeePct, new
                                                        {
                                                            htmlAttributes = new
                                                            {
                                                                @class = "form-control",
                                                                style = "border:none"}
})
                                                        @Html.ValidationMessageFor(model => model.budget.fManagementFeePct, "", new { @class = "text-danger" })
                                                    </td>
                                                    <td>
                                                        <!--管銷費-->
                                                        $
                                                        <span class="ManagementFee"></span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <!-- 營收預估 -->
                                <div class="col-12 col-sm-6 col-md-8 col-md-offset-2">
                                    <div class="x_title bg-primary">
                                        <h2> 營收預測</h2>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th style="width:30%">類型</th>
                                                    <th style="width:30%">項目</th>
                                                    <th style="width:30%">金額</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>收入</td>
                                                    <td>簽約費</td>
                                                    <td>$@Model.budget.tProject.fPrice</td>
                                                </tr>
                                                <tr>
                                                    <td>支出</td>
                                                    <td>人事成本</td>
                                                    <td>
                                                        $
                                                        <b class="PersonnelCost" id="PersonnelCost"></b>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>支出</td>
                                                    <td>管銷成本</td>
                                                    <td>
                                                        $
                                                        <b class="ManagementFee" id="ManagementFee"></b>
                                                    </td>
                                                </tr>
                                                <tr class="bg-info">
                                                    <td>
                                                        <b>損益總計</b>
                                                    </td>
                                                    <td></td>
                                                    <td>
                                                        <!--總預算-->
                                                        $
                                                        <b id="totalBuget"></b>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <!-- 送出 -->
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10 ">
                                        <button type="submit" class="btn btn-success">Submit</button>
                                    </div>
                                </div>


                            </div>
                        </div>
                </div>
            </div>
            <!-- Table row -->
        </div>
    </div>

}


<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog" role="document">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">新增工時紀錄</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Postdata", "Home", FormMethod.Post, new { @id = "formsumit" }))
                {

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                    <div class="form-group">
                        <label class="control-label col-md-2">階段名稱</label>
                        <div class="col-md-10">
                            <input id="fLevelName" name="fLevelName" class="form-control" />
                        </div>
                    </div>

                }
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="showAdd" onclick="submit()">新增</button>
                <button type="button" class="btn btn-primary" id="showUpdate" onclick="edit()">修改</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->




<style>
    .description {
        margin-bottom: 20px;
    }
    .page-header {
        margin-top: 10px;
        border-bottom: 0px;
    }

    .input-group {
        margin-bottom: 30px;
    }
</style>

@section scripts{
    <script>

        //載入時計算人事費、管銷費、總預算
        $(document).ready(function () {
            SumPersonnelCost();
            calManagementFee();
            budgetSum();
        });

        //管銷比例改變時
        $("#budget_fManagementFeePct").change(function () {
            calManagementFee();
            //SumPersonnelCost();
            budgetSum();
        });

        //預估時數改變時
        for(let i = 0; i < @Model.levels.Count(); i++) {
            $("#levels_" + i + "__fEstimateTime").change(function () {
                SumPersonnelCost();
                budgetSum();
            });
        }

        //平均時薪改變時
        $("#budget_fSalaryHour").change(function () {
            SumPersonnelCost();
            budgetSum();
        });

        //計算總預算
        function budgetSum() {
            //簽約費-人事費-管銷
            let price = @Model.budget.tProject.fPrice;
            console.log("簽約");
            console.log(price);
            let personnelCost = parseInt($("#PersonnelCost").text());
            console.log("人事");
            console.log(personnelCost);
            let managemenCost = parseInt($("#ManagementFee").text());
            console.log("管銷");
            console.log(managemenCost);

            let sum = (price - personnelCost - managemenCost);
            console.log(sum);
            $("#totalBuget").text(sum);
        };

        //計算人事費
        function SumPersonnelCost() {
            let money = 0;
            money = $("#budget_fSalaryHour").val();
            let sumTime = 0;
            for (let i = 0; i < @Model.levels.Count(); i++) {
                let time = parseInt($("#levels_" + i + "__fEstimateTime").val());
                sumTime += time;

                let levelBudget = time * money;
                $(`#levelBudget_${i}`).text(levelBudget);
            }
            $("#allTime").text(sumTime);
            $("#budget_fBudget").val(sumTime * money);
            $(".PersonnelCost").text(sumTime * money);
            budgetSum();
        }

        //計算管銷費
        function calManagementFee() {
            let managementFeePTC = 0;
            managementFeePTC = $("#budget_fManagementFeePct").val();
            let managementFee = @Model.budget.tProject.fPrice* managementFeePTC;

            $(".ManagementFee").text(managementFee);
        }

        //新增階段
        function submit() {
            let fLevelName = $("#fLevelName").val();
            let prjId= @Model.budget.fProjectId;
            console.log(fLevelName),
            $.ajax({
                type: "POST",
                url: "/Project/CreateLevel?prjId=" + prjId + "&levelName=" + fLevelName,
                success: function (response) {
                    alert("資料儲存成功");
                    $("#myModal").modal('hide');
                    //刷新頁面
                    window.location.reload();
                }
            })
        };

        //編輯階段
        function edit() {
            let fLevelName = $("#fLevelName").val();
            let prjId = @Model.budget.fProjectId;
            $.ajax({
                type: "GET",
                url: "/Project/EditLevel?prjId=" + prjId + "&levelName=" + fLevelName,
                success: function (response) {
                    alert("資料修改成功");
                    $("#myModal").modal('hide');
                    window.location.reload();
                }
            })
        }

          @*function Edit(id) {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetEdit", "Home")/" + id,
                dataType: "JSON",
                success: function (response) {
                    $("#fId").val(response.data.fId);
                    $("#fEmployeeId").val(response.data.fEmployeeId);
                    $("#fName").val(response.data.fName);
                    },
                    error: function (msg) {
                        alert(msg.responseText);
                    }
            });
        }*@

        //顯示 新增/修改 視窗
        function showModal(status) {
            $("#myModal").modal("show");
            if (status == 'add') {
                //新增
                $("#showAdd").show();
                $("#showUpdate").hide();
                //清空資料
                $("#fId").val("");
                $("#fLevelName").val("");
            } else {
                //修改
                $("#showAdd").hide();
                $("#showUpdate").show();
            }
        }

        //切換專案基本資料
        $("#ProjectInfo").click(function () {
            $.ajax({
            type: "GET",
            url: "/ProjectDetail/Test",
            success: function (data) {
                    window.location.href =  '@Url.Action("Edit", "Project", new { fPRJId = @Model.budget.fProjectId })';
            },
            error: function (err) { }
                })
        })

        //切換預算書
        $("#ProjectBudget").click(function () {
            $.ajax({
                type: "Get",
                url: "/ProjectDetail/Test",
                success: function (data) {
                    window.location.href ='@Url.Action("EditBudget", "Project", new { prjId = @Model.budget.fProjectId })';
                },
                error: function (err) { }
            })
        })

        //切換工作項目
        $("#ProjectDetail").click(function () {
            $.ajax({
                type: "GET",
                url: "/ProjectDetail/Test",
                success: function (data) {
                    window.location.href =  '@Url.Action("Index", "ProjectDetail", new { prjId = @Model.budget.fProjectId })';
                },
                error: function (err) { }
                    })
        })

    </script>
}
